.section.is-small {
  padding: 1rem 1.5rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.layout-container {
  @include display-flex;
  min-height: 100vh;
  @include flex-direction(column);
}

.layout-children-container {
  @include flex(1 0 auto);
}

.activity-source-form {
  @include display-flex;
  @include justify-content(center);
}

.activity-source-prefix {
  margin-right: 1em;
  display: inline-block;
}

.checkbox + .checkbox {
  margin-left: 1em;
}

.checkbox input {
  margin-right: 3px;
}
