.twitch-video {

}

.twitch-description {

}

.twitch-meta {

}

.twitch-view-count {
  font-size: 14px;
  color: #888;
  font-weight: bold;
  float: right;
}

.twitch-permalink {

}

.twitch-video {
  margin-bottom: 1em;
}

iframe {
  display: block;
}

.twitch-channel-name {
  font-size: 14px;
  color: #888;
  font-weight: bold;
  float: right;
}

.twitch-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.twitch-video-title {
  display: block;
}
